@charset "utf-8" ;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Decoshadow';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Decoshadow.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EF_hyunydororong';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunydororong.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SunBatang-Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/SunBatang-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.span-1 {
    display: none;
}
.section-02 .section-02-line div  {
    display: none;
}


.section-02 .section-02-item .item-01 ul:nth-child(5) {
    display: none;
}
.section-02 .section-02-item .item-01 ul:nth-child(8) {
    display: none;
}


.section-02 .section-02-item .item-01 ul:nth-child(2) {
    display: none;
}
.section-02 .section-02-item .item-01 ul p:nth-child(2) {
    display: none;
}

.section-02 .section-02-item .item-01 .ul p {
    display: none;
}


.header .inner .header-menu .logo-icon {
    display: none;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #000;
    font-family: 'Pretendard-Regular';
    max-width: 1920px;
    width: calc(100% - 100px);
    margin: 0 auto;
    height: 150vw;
}



.header {
    
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    background-color: #B7CAFA;
    max-width: 64px;
    width: 100%;
    height: 64px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    display: flex;
    justify-content: center;
}

.header .inner .header-menu {
    display: flex;
    gap: 30px;
}

.header .inner .header-menu a{
    font-size: 24px;
    font-weight: 400;
    position: relative;
    display: inline-block;
    font-family: 'Binggrae';
}



.section-01 {
    margin-top: 230px;
    text-align: center;
    font-size: 167px;
    font-family: 'Cafe24Decoshadow';
}

.section-01 .section-01-text h2 {
    position: relative;
    display: inline-block;
    font-weight: 400;

}

.section-01 .section-01-text-1 h2 {
    color: #000;
    margin-bottom: 220px;
}

.section-02 {
    max-width: 1211px;
    width: 100%;
    height: 545px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.section-02 .section-02-image {
    max-width: 318px;
    height: 409px;

}

.section-02 .section-02-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}


.section-02 .section-02-image .section-02-text {
    display: flex;
    gap: 15px;
 
}

.section-02 .section-02-image .section-02-text p {
    font-size: 18px;
}
.section-02 .section-02-image .section-02-text h6 {
    font-size: 18px;
    font-weight: 400;
    
}
.section-02 .section-02-image a {
    margin-top: 10px;
    max-width: 105px;
    width: 100%;
    height: 32px;
    background-color: #fff;
    border: 1px solid #000;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.section-02 .section-02-item {
    
}

.section-02 .section-02-item h5 {
    font-family: 'SunBatang-Light';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.section-02 .section-02-item h5:nth-child(1) {
    margin-top: 30px;
}
.section-02 .section-02-item .item-01 {
    display: flex;
    gap: 16px;
}

.section-02 .section-02-item .item-01 ul {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-bottom: 10px;
    align-items: center;
}
.section-02 .section-02-item .item-01 ul li:nth-child(1) {
    font-size: 18px;
}
.section-02 .section-02-item .item-01 ul li:nth-child(3) {
    color: #999999;
}

.section-02 .section-02-item .item-01 .p p {
    width: 7px;
    height: 82px;
    background-color: #E9DDDD;
    margin-bottom: 40px;
}

.section-02 .section-02-item .item-01 .p-2 p {
    position: relative;
    top: 2px;
    width: 4px;
    height: 19px;
    background-color: #E9DDDD;
    margin-bottom: 40px;
}

.section-02 .section-02-item .item-03 {
    display: flex;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}

.section-03 {
    
    /* flex-wrap: wrap; */
}

.section-03 .section-03-text {
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}


.section-03 .section-03-text h2{
    position: relative;
    display: inline-block;
    font-size: 100px;
    font-family: 'EF_hyunydororong';
    margin-bottom: 50px;
}



.section-03 .section-03-menu a{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: 'SunBatang-Light';
}

.section-03 .section-item {

    max-width: 561px;
    width: 100%;
    
}



/* ******************************* */


.section-03 .section-item .section-item-01 {
    max-width: 591px;
    width: 100%;
    height: 473px;
    /* height: 100%; */
    background-color: #3E3838;
    /* background-color: #fff; */
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 35px;
}

/* ******************************* */




.section-03 .section-item .section-item-01 img {
    margin: 0 auto;
    width: 90%;
    object-fit: cover;
}
.section-03 .section-item-all {
    max-width: 1820px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex; 
}
.section-04 {
   margin-top: 290px;
}
.section-04 .section-03-text {
    text-align: center;
}
.section-04 .section-03-text h2 {
    position: relative;
    display: inline-block;
    font-size: 100px;
    font-family: 'EF_hyunydororong';
}


.section-03 .section-item-all h3 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
}

.section-03 .section-item-all p {
    margin-top: 10px;
}

.section-03 .section-item-all ul {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}
.section-03  .section-item-all a {
    margin-top: 10px;
    padding: 7px 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: inline-flex;
    margin-right: 10px;
    
    
}

.section-03 .section-item-all .section-item:nth-child(4) {
    /* margin-top: 170px; */
}
.section-03 .section-item-all .section-item:nth-child(5) {
    /* margin-top: 170px; */
}
.section-03 .section-item-all .section-item:nth-child(6) {
    /* margin-top: 170px; */
}
.section-03 .section-item-all .section-item:nth-child(6) .section-item-01 img {
    
}







@media screen and (max-width: 960px) {



body {
    max-width: 960px;
    width: calc(100% - 100px);
}

.section-02 .section-02-item .item-01 ul li:nth-child(3) {
    display: none;
}


.section-01 {
    font-size: 85px;
}

.section-02 {
    max-width: 768px;
    width: 100%;
    height: 417px;
}

.section-02 .section-02-image img {
    max-width: 220px;
    width: 100%;
    height: 283px;
}

.section-02 .section-02-item {
    max-width: 458px;
    width: 100%;
    margin-top: -30px;
}

.section-02 .section-02-item .item-01 .p p {
    width: 4px;
    height: 150px;
}

.section-02 .section-02-item h5 {
    font-size: 18px;
}
.section-02 .section-02-item h5:nth-child(2) {
    margin-left: 55px;
    font-size: 16px;
    color: #999999;
    font-family: 'Pretendard-Regular';
}

.section-02 .section-02-item .item-01 ul {
    align-items: start;
   
}


.section-02 .section-02-item .item-01 ul:nth-child(1) {
    display: none;
}


.section-02 .section-02-item .item-01 ul:nth-child(2) {
    display: block;
    display: flex;
    
}

.span-1 {
    display: block;
}
.span-1 .span-text {
    display: flex;
   position: relative;
   right: 50px;
}

.span-1 .span-text p {
    position: relative;
    top: 20px;
    right: 5px;
}

.span-1 .span-text h6 {
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
}



.section-02 .section-02-item .item-01 ul {
    margin-bottom: 20px;
}


.section-02 .section-02-item .item-01 ul p:nth-child(2) {
    display: block;
}


.section-02 .section-02-item .item-01 .ul p {
    display: block;
    margin-left: 55px;
    margin-top: -20px;
    margin-bottom: 10px;
    color: #999999;
    
    
}

.section-02 .section-02-item .item-01 ul li:nth-child(1) {
    font-size: 15px;
}
.section-02 .section-02-item .item-01 ul li:nth-child(2) {
    font-size: 16px;
}
.section-02 .section-02-item .item-01 ul li:nth-child(3) {
    font-size: 16px;
}


.section-02 .section-02-image .section-02-text p {
    font-size: 15px;
}
.section-02 .section-02-image .section-02-text h6 {
    font-size: 15px;
}

.section-02 .section-02-item .item-03 {
    margin-top: 0px;
    gap: 15px;
}

.section-02 .section-02-item .item-03 img {
    width: 31px;
    height: 35px;
}
.section-02 .section-02-item .item-03 li {
    font-size: 14px;
}

.section-03 .section-item-all {
    max-width: 860px;
    width: 100%;
}
.section-03 .section-item {
    max-width: 860px;
    width: 49%;
}


.section-03 .section-item .section-item-01 {
    max-width: 415px;
    width: 100%;
    height: 290px;
}

.section-03 .section-item-all h3 {
    font-size: 22px;
}

.section-03 .section-item-all p {
    width: 80%;
    font-size: 16px;
}

}


@media screen and (max-width: 440px) {
    body {
        max-width: 440px;
        width: calc(100% - 40px);
    }
    .header .inner .header-menu a {
        display: none;
    }
    .header .inner .header-menu .logo-icon {
        display: block;
    }
    .header .inner .header-menu .logo-icon a {
        display: block;
    }
   
    .section-01 {
        font-size: 35px;
    }

    .section-02 {
        max-width: 292px;
        width: 100%;
        display: block;
        margin: 0px 0px;
    }

    .section-03 {
        margin-top: 600px;
    }

    .section-02 .section-02-item .item-01 .p p {
        height: 170px;
    }

    .section-02 .section-02-item .item-01 .ul p:nth-child(1) {
        color: #000;
    }

    .section-02 .section-02-item h5:nth-child(1) {
        margin-top: 60px;
    }
  
    .section-02 .section-02-line div {
        display: block;
        margin-top: 30px;
        /* max-width: 364px;
        width: 100%; */
        width: 364px;
        height: 1px;
        background-color: #999999;
    }
    
    .section-02 .section-02-item .item-03 {
        max-width: 237px;
        width: 100%;
        flex-wrap: wrap;
       
    }

    .section-03 .section-03-text h2 {
        margin-top: 100px;
        font-size: 75px;
    }


    .section-03 .section-03-menu a {
        padding: 5px 15px;
    }

    .section-03 .section-item-all {
        max-width: 400px;
        width: 100%;
        display: block;
    }
    .section-03 .section-item .section-item-01 {
        /* max-width: 400px;
        width: 100%; */
        width: 400px;
        height: 300px;
    }

    .section-03 .section-item {
        width: 97%;
    }



}

